/* !!!!!!!!!!!!!!!!!!!!!!!!!This is the about me css!!!!!!!!!!!!! */
.aboutgrid
{
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-areas:
  "nav nav nav"
  "ab ab ab"
  "bg bg bg"
  "in in fa"
  "ft ft ft"
  ;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .2fr .2fr .3fr .6fr .8fr;

}

.header
{
  grid-area: nav;
  background-color: lightblue;
}

.header nav
{
  background-color: lightblue;
  height: 100%;
  width: 40%;
  margin:0 auto;
  padding:0;
}

.header nav a
{
    display: inline-block;
    text-decoration: none;
    width: 33%;
    height: 80%;
    line-height: 4;
    margin: auto;
    text-align: center;
    font-size: 45px;
    background-color: lightgray;
    transition: background-color .4s;
  }
  .header nav a:hover
  {
    background-color: purple;
  }

  .aboutme
  {
    grid-area: ab;
  background-color: lightblue;
  }

  .aboutme h1
  {
    text-align: center;
    font-size: 60px;
  }


  .background
  {
    grid-area: bg;
    background-color: lightgray;
  }

.background p
{
  font-size: 30px;
  padding: 50px;
}

  .interests
  {
    grid-area: in;
    background-color: lightblue;
    padding: 50px;
    text-align: center;
  }


.interests h2
{
  font-size: 60px;
  padding-left: 100px;
}

  .interests li
  {
    font-size: 30px;
    padding-left: 20px;
  }

.family
{
  grid-area: fa;
}

  .future
  {
    grid-area: ft;
    background-color: lightgray;
    padding: 50px;
  }

  .future p
  {
    font-size: 30px;
  }


/* !!!!!!!!!!!!!!!!!!!!This is the end of the about me css!!!!!!!!!!!!!!!!!!!!!!!!! */
